.App {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  height: 100%;
  flex-grow: 1;
}

.App > h1 {
  flex: 0;
}

.App > canvas {
  flex: 1;
  background-color: lightgray;
  margin: 1rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
